<div class="container bg-color">
  <div class="row">
    <div class="col-md-10 registration_margin">      
      <div class="registration_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h1 class="registration">ユーザー編集</h1>
          <%= bootstrap_devise_error_messages! %>

          <%= f.label :background_image %>
          <div id="cover-bg-image" class="img-profile bg-relative">
            <% if @user.background_image_id.present? %>
              <%= image_tag attachment_url(@user, :background_image),class:'bg-image' %>
            <% else %>
              <%= image_tag 'noimage.png',class:'profile-user'%>
            <% end %>
            <i class="fa fa-camera"></i>
          </div>
          <%= f.attachment_field :background_image, autofocus: true, autocomplete: 'background_image'%>
          <%= f.label :profile_image %>
          <div id="cover-profile-image" class="img-profile profile-relative">
            <% if @user.profile_image_id.present? %>
              <%= image_tag attachment_url(@user, :profile_image),class:'profile-image' %>
            <% else %>
              <%= image_tag 'noimage.png',class:'profile-user'%>
            <% end %>
          </div>

          <%= f.attachment_field :profile_image, autofocus: true, autocomplete: 'profile_image'%>

            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, autocomplete: 'name',:placeholder => "name" %>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email',:placeholder => "email"%>
                <div class="text-profile">
                  <%= f.label :profile %>
                  <%= f.text_area :profile, autofocus: true,class:'form-control', autocomplete: 'profile',rows:3 %>
                </div>
            <%= f.submit '更新する',class:'button'%>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <p><%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

  <%= link_to t('.back'), :back %>
</div>