<% @users.each do |user|%>
  <div>
  <% if user.profile_image.present? %>
    <%= link_to user_path(user) do%>
      <%= attachment_image_tag user,:profile_image,class:'profileImage-index'%>
    <% end %>
  <%else%>
    <%= image_tag 'noimage.png' ,class:'img-responsive card-img' %>
  <% end %>
  <%=user.name%>
  <%=user.email%>
  <hr>
  </div>
<% end %>