<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> %>
    <%# <script type="text/javascript" src="js/func.js"></script> %>

    <%= yield :css %>

    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>  </head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header'%>
    <main role="main">
    <%= yield %>
    </main>
  </body>
</html>
